.data-collection-unit {
    background-color: rgb(5, 56, 56);
    width: 50vw;
    margin: 0 auto;
    color: azure;
    display: flex;
    flex-direction: column;
}

.data-collection-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.data-collection-header img {
    width: 60;
    height: 60px;
}

.data-general-information,
.data-education-profiler,
.data-professional-experience {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.data-general-information form,
.data-education-profiler form,
.data-professional-experience form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.data-general-information form *,
.data-education-profiler form *,
.data-professional-experience form * {
    height: 28px;
    margin-bottom: 22px;  
    border-radius: 5px;
    caret-color: #007bff;
    font-size: 1rem;
}

.data-general-information form input:focus,
.data-career-profile textarea:focus,
.data-education-profiler form input:focus,
.data-professional-experience form input:focus,
.data-professional-experience textarea:focus {
  background-color: #0b0e10;
  outline: none;
  border: 2px solid #007bff;
}

.data-education-profiler h2 {
    margin-top: 0;
}

.data-general-information form input::placeholder {
  font-size: 1rem;
  color: #999;
}

.data-career-profile {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.data-career-profile h2 {
  margin: 0 0 10px 0;
  margin-bottom: 20px;
}

.data-collection-unit input,
.data-collection-unit textarea {
    background-color: #0b0e10;
}

.data-career-profile textarea,
.data-professional-experience textarea {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width:  100%;
  min-width: 600px;
  min-height: 150px;
  max-height: 200px;
  font-size: 1rem;
  color: #fff;
  caret-color: #007bff;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.data-career-profile textarea::placeholder {
    font-size: 1rem;
}

.data-professional-experience textarea {
    margin-bottom: 20px;
}
